h1, h2 {
    color:#ff4f57;
}

a {
    color: #ff4f57;
}

table {
     box-sizing: border-box;
}
 
table th, table td {
    padding: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.error {
    color: red;
    font-style: italic;
}