<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Device List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Device List</h1>
        
        <div>
            <nobr>
                <a th:href="@{/index/add}">Connect Device</a>
            </nobr>
        </div>
        <br/><br/>
        <div>
            <table style="float:left;width:50%">
                <tr>
                    <th>Id</th>
                    <th>Typ</th>
                    <th>Location</th>
                    <th>Equipment</th>
                    <th>Energy</th>                    
                </tr>
                <tr th:each ="device : ${devices}">
                    <td th:utext="${device.id}">...</a></td>
                    <td th:utext="${device.typ}">...</a></td>
                    <td th:utext="${device.location}">...</td>
                    <td th:utext="${device.equipment}">...</td>
                    <td th:utext="${device.energy}">...</td>                    
                </tr>
            </table>          
        </div>
        <div>
            <table style="width:50%">
                <tr>
                    <th>Id</th>
                    <th>Typ</th>
                    <th>Location</th>
                    <th>Equipment</th>
                    <th>Energy</th>
                    <th>Principal</th>
                    <th>Detach</th>
                </tr>
                <tr th:each ="device : ${usedDevices}">
                    <td th:utext="${device.id}">...</a></td>
                    <td th:utext="${device.typ}">...</a></td>
                    <td th:utext="${device.location}">...</td>
                    <td th:utext="${device.equipment}">...</td>
                    <td th:utext="${device.energy}">...</td>
                    <td th:utext="${device.principal}">...</td>
                    <td><a th:href="@{/index/{deviceId}/delete(deviceId=${device.id})}">Detach</a></td>
                </tr>
            </table>          
        </div>
    </body>
</html>